**/__pycache__
**/trained_models
**/outputs
*.egg-info
*.idea

# 忽略数据（最重要）
STEP1_collect_data_202408updates/demo_test/
STEP1_collect_data_202408updates/4_17/
STEP1_collect_data_202408updates/4_20/
so101_lerobot/dataset/
so101_train/dataset.hdf5


