**/__pycache__
**/trained_models
**/outputs
*.egg-info
*.idea

# 忽略数据（最重要）
so101_lerobot/dataset/
so101_train/dataset.hdf5
STEP1_collect_data_202408updates/demo_test/
STEP1_collect_data_202408updates/4_17/
STEP1_collect_data_202408updates/4_20/
STEP1_collect_data_202408updates/4_24_1/
STEP1_collect_data_202408updates/4_24_2/
STEP1_collect_data_202408updates/4_24_3/
STEP1_collect_data_202408updates/4_24_4/
STEP1_collect_data_202408updates/4_24_5/
STEP1_collect_data_202408updates/4_24_6/
STEP1_collect_data_202408updates/4_24_7/
STEP1_collect_data_202408updates/4_24_8/
STEP1_collect_data_202408updates/4_24_9/
STEP1_collect_data_202408updates/4_24_10/
STEP1_collect_data_202408updates/4_24_11/
STEP1_collect_data_202408updates/4_24_12/
STEP1_collect_data_202408updates/4_24_13/
STEP1_collect_data_202408updates/4_24_14/
STEP1_collect_data_202408updates/4_24_15/
STEP1_collect_data_202408updates/4_24_16/
STEP1_collect_data_202408updates/4_24_17/
STEP1_collect_data_202408updates/4_24_18/
STEP1_collect_data_202408updates/4_24_19/
STEP1_collect_data_202408updates/4_24_20/

